[submodule "entityx"]
	path = entityx
	url = https://github.com/alecthomas/entityx.git
[submodule "SFML"]
	path = SFML
	url = https://github.com/SFML/SFML.git
[submodule "Catch"]
	path = Catch
	url = https://github.com/philsquared/Catch.git
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "GSL"]
	path = GSL
	url = https://github.com/Microsoft/GSL.git
